$primary-color: black;
$background-color: #FFFFFF;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
    padding: 0;
}

.popupContainer{
    background-color: #FFFFFF;
    width: 250px;
    padding: 4px;
  
}
.popupContainer h3{
    font-weight: bolder;
    margin: 0;
    padding: 0px 10px;
    font-size: 25px;
}
.two-columns{
    display: flex;
    flex-direction: row;
}
.button-container{
    display: flex;
    flex-direction: column;
}
.button-container-left{
    width: 70%;
    padding-right: 2px;
}
.button-container-right{
    width: 30%;
    padding-left: 2px;
}
.show-hide-button{
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    text-align: left;
    margin:2px;
    padding:3px;
}
