$primary-color: black;
$background-color: #FFFFFF;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
    padding: 0;
}

.popupContainer {
    align-items: center;
    background-color: $background-color;
    border: none;
    border-radius: 2px;
    color: $primary-color;
    font-size: 20px;
    height: 135px;
    justify-content: space-evenly;
    width: 250px;
}
.popupContainer h3{
    font-weight: bolder;
    margin: 0;
    padding: 0px 10px;
    font-size: 25px;
}
.popupContainer-content{
    align-items: left;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.popup-toggle-section{
    padding: 2px;
    display: flex;
    flex-direction: column;
    height: 50px;;
}
.toggles{
    padding: 2px 0px;;
}
.div-heading{
    padding: 4px 5px;
    margin: 0;
    height:50px;
    font-weight: 400;
}

.hr-divider{
    margin-block-start: 2px;
    margin-block-end: 2px;
    width: 100%;
    background-color: #FF1616;
    height: 2px;
}
.grey-div{
    background-color: #C7D0D8;
}