$primary-color: black;
$background-color: #c0ffc8;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

.popupContainer {
    padding: 5px;
    align-items: center;
    background-color: $background-color;
    border: none;
    border-radius: 2px;
    color: $primary-color;
    font-size: 20px;
    height: 120px;
    justify-content: space-evenly;
    width: 230px;
}
.popupContainer h3{
    margin: 0;
    padding: 0px 10px;
    font-size: 25px;
}
.popupContainer-content{
    align-items: left;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.popup-toggle-section{
    display: flex;
    flex-direction: column;
    height: 50px;;
}
.slider{
    padding: 2px 0px;;
}
.div-heading{
    padding: 4px 5px;
    margin: 0;
    height:50px;
    font-weight: 300;
}